router:
  image: tuxmonteiro/galeb-router
  ports:
   - "8080:8080"
  volumes:
   - ~/.m2:/home/galeb/.m2
  environment:
   - CLUSTER_ID=dev
  links:
   - backend

api:
  image: tuxmonteiro/galeb-api
  ports:
   - "9090:9090"
  volumes:
   - ~/.m2:/home/galeb/.m2
  environment:
   - CLUSTER_ID=dev

healthchecker:
  image: tuxmonteiro/galeb-healthchecker
  volumes:
   - ~/.m2:/home/galeb/.m2
  environment:
   - CLUSTER_ID=dev

backend:
  image: tuxmonteiro/backend-test
  ports:
   - "8081:8081"
   - "8082:8082"
   - "8083:8083"
   - "8084:8084"
